/* Computer/tablet screen, default screen (greater than or equal to 768px) */
@media (min-width: 768px) {
	.action_create {
	    margin: 20px;
	}

	.action_submit {
	    margin: 20px 20px 0 20px;
	}
	
}

/* Phone screen (less than or equal to 767px) */
@media (max-width: 768px) { 
	
}	

.action_td {
    min-width: 160px;
}

.action_create {
	    margin-bottom: 20px;
	}

.right {
    float: right;
}

